body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  width: 280px;
}

.card img {
  border-radius: 8px;
}
